In [1]:
import pandas as pd

In [24]:
df = pd.read_csv("Downloads/text.csv")

In [30]:
df

   Akhu míá ŋgap   à gɔ te zwɛ mɔ ŋgapá.
0  Akhu míá ŋgap   à gɔ te zwɛ mɔ ŋgapá.
1  Akhu míá ŋgap   à gɔ te zwɛ mɔ ŋgapá.
2  Akhu míá ŋgap   à gɔ te zwɛ mɔ ŋgapá.

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Akhu míá ŋgap           3 non-null      object
 1    à gɔ te zwɛ mɔ ŋgapá.  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes